*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

/*HEADER*/
header{
    background-color: #EAC926;

}
    div.top-header{
        width: 94%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0%;
        margin-bottom: 1%;
        }
        header div.logo{
        margin-top: 1%;
        width: 36.1%;
        padding: 0px;
        }
        .imglogo{
            width: 100%;
            }
        div.form{
            font-size: 20.5px;
            display: flex;
            margin-bottom: 5%;
            margin-left: 1.1%;
            margin-top: 5.1%;
            width: 20.8%;
            }   
            div.input{
            background-color: #FFF;
            border: 1px solid #000;
            outline: none;
            color: #666;
            padding: 0px;
            width: 100%;
            }
            div.submit{
            background-color: #FFF;
            border: 1px solid #000;
            color: #666;
            width: 9%;
            margin-left: 2%;
            }
            .fa.fa-search{
            width: 4%;
            text-align: center;
            }

        div.top-header p{
            width: 34%;
            text-align: center;
            margin-top: 84px;
            font-size: 18.5px;
            margin-left: 3.5%;
            }

    .navegador{
        margin-left: 1.5%;
        margin-right: 1.5%;
        width: 96.5%;
        display: flex;
        text-align: center;
        justify-content: space-between;
        flex-direction: row;
        }   
        ul.izquierda{
        margin-left: 2%;
        width: 28.7%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1%
        }
            li{
                margin-right: 4.75%;
                list-style-type: none;
            }
                a{
                font-size: 16.5px;
                text-decoration: none;
                color: #000;
                }
        ul.derecha{
        width: 30%;
        display: flex;
        justify-content: space-between;
        }
        
/*BURGER*/
div.burger-menu{
    text-align: center;
}
.imgbanner {
    width: 100%;
}

div.burger-menu i{
    background-color: #03264C;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

/*MAIN*/

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}



main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

/*FOOTER*/
footer {
    background-color: #FFF;
    color:rgb(255, 255, 255);
    margin-top: 0px;
    margin-left: 1px;
    padding: 20px;
    width: 88,5%;
    text-align: center;
}

footer p{
    margin-left: 35px;
    margin-right: 35px;
    color:#666
}

footer i{
    font-size:2em;
    margin-bottom: 10px;
    margin-top: 40px;
    color: #1259c3;
}

footer h5{
    font-size: 16.5px;
    color:#666;
}

footer h6{
    margin-left: 0px;
    text-align: left;
    margin-top: 40px;
    color:#666;
    font-weight: normal;
}

/*MEDIA*/
@media (min-width:0px){
h4{
    display: none;
}
.navegador{
    display: none;
}
div.top-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
}
div.burger-menu {
    display: flex;
    justify-content: space-evenly;
}
header div.logo {
    margin-top: 7%;
    width: 50%;
    margin-bottom: 5%;
    padding: 0px;
}
.imgbanner {
    width: 100%;
}
.imglogo {
    width: 97%;
}
div.top-header p {
    width: 93%;
    text-align: center;
    margin-top: 0px;
    font-size: 13.5px;
    margin-left: 0%;
}
div.form {
    display: flex;
    margin-bottom: 5%;
    margin-left: 0%;
    margin-top: 5.1%;
    width: 50%;
    white-space: nowrap;
    justify-content: center;
}
div.input {
    font-size: 12.65px;
    background-color: #FFF;
    outline: none;
    color: #666;
    padding: 8px;
    width: 78%;
    height: 40px;
    display: flex;
    border: aliceblue;
    align-items: center;
    border-radius: 4px;
}
div.submit {
    background-color: #FFF;
    color: #666;
    width: 20%;
    margin-left: -3%;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.fa-search:before {
    display: flex;
    content: "\f002";
    margin-left: 12px;
    justify-content: space-around;
    font-size: 13px;
    align-items: center;
}
.fa.fa-search {
    width: 100%;
}
main article:hover i{
    transform: rotate(-90deg);
    transition-duration: 1s;
}
}


@media (min-width: 361px){
    h4{
        display: flex;
    }

    div.burger-menu {
        display: none;
    }
    
    
    div.top-header{
        width: 93%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }

    header div.logo {
        margin-top: 3%;
        width: 34%;
        margin-bottom: 0%;
        padding: 0px;
    }

    .imglogo {
        margin-left: 3px;
        width: 96%;
    }

    div.form {
        display: flex;
        margin-bottom: -2%;
        margin-left: 1%;
        margin-top: 1.8%;
        width: 31%;
        white-space: nowrap;
        justify-content: flex-start;
    }

    div.input {
        font-size: 12.65px;
        background-color: #FFF;
        outline: none;
        color: #666;
        padding: 1px;
        width: 79%;
        height: 19px;
        display: flex;
        border: aliceblue;
        align-items: center;
        border-radius: 4px;
    }
    div.submit {
        background-color: #FFF;
        color: #666;
        width: 7%;
        margin-left: 3%;
        border: none;
        display: flex;
        align-items: center;
        border-radius: 4px;
    }
    .fa-search:before {
        display: flex;
        content: "\f002";
        margin-left: 0px;
        justify-content: space-around;
        font-size: 13px;
        align-items: center;
    }
    .fa.fa-search {
        width: 100%;
    }

    div.top-header p {
        width: 34%;
        text-align: left;
        margin-top: 38.5px;
        font-size: 11.8px;
        margin-left: 0%;
    }

    .navegador{
        margin-left: 1.5%;
        margin-right: 1.5%;
        width: 96.5%;
        display: flex;
        text-align: center;
        justify-content: space-between;
        flex-direction: row;
        }   
        ul.izquierda{
        margin-left: 2.3%;
        width: 34.8%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5%;
        }
            li {
            margin-right: 0%;
            list-style-type: none;
            }
                a {
                font-size: 12px;
                text-decoration: none;
                color: #000;
                }
        ul.derecha{
        width: 36.5%;
        margin-right: 1.7%;
        display: flex;
        justify-content: space-between;
        }

        main section article .description{
        display: block;
    }

    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
    
main article:hover i{
        transform: rotate(-90deg);
        transition-duration: 1s;
    }
}

@media (min-width: 769px){
    div.top-header{
        width: 94.8%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0%;
        margin-bottom: 1%;
        justify-content: flex-start;
        flex-direction: row;
        }

        header div.logo{
            margin-top: 0;
            width: 36.1%;
            margin-right: 0px;
        }
        
        .imglogo{
            width: 97.5%;
            margin-left: 10px;
            }
        div.form{
            display: flex;
            margin-bottom: 5%;
            margin-left: 1%;
            margin-top: 5%;
            width: 25%;
            justify-content: flex-start;
            }   
            div.input{
                font-size: 18.5px;
                height: 24px;
                background-color: #FFF;
                border: 1px solid #000;
                outline: none;
                color: #666;
                padding: 0px;
                width: 73%;
            }
            div.submit{
                background-color: #FFF;
                border: 1px solid #000;
                color: #666;
                width: 8%;
                margin-left: 2%;
            }
            
            .fa.fa-search{
            width: 7%;
            margin-left: 4px;
            }
            .fa-search:before {
                display: flex;
                content: "\f002";
                margin-left: 0px;
                font-size: 17px;
                align-items: flex-start;
                justify-content: flex-start;
            }

        div.top-header p{
            width: 28%;
            text-align: left;
            margin-top: 14.5px;
            font-size: 18.4px;
            margin-left: 60px;
            }

    .navegador{
        margin-left: 1.5%;
        margin-right: 1.5%;
        width: 96.5%;
        display: flex;
        text-align: center;
        justify-content: space-between;
        flex-direction: row;
        }   
        ul.izquierda{
        margin-left: 2%;
        width: 27.5%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1%;
        }
            li{
            margin-right: 0%;
            list-style-type: none;
            }
                a{
                font-size: 16.5px;
                text-decoration: none;
                color: #000;
                }
        ul.derecha{
        width: 28.5%;
        margin-right: 18.1px;
        display: flex;
        justify-content: space-between;
        }
        
    main section div.products article{
        width: 22%;
    }
    div.burger-menu{
        display: none;
    }

    h4.description{
        display: none;
    }

    
    main article:hover i{
        transform: rotate(-90deg);
        transition-duration: 1s;
    }

    .footc{
    display:flex;
    }

    .fa-credit-card:hover{
        color: greenyellow;
        cursor: pointer;
    }

    .fa-gift:hover{
        color: greenyellow;
        cursor: pointer;
    }

    .fa-user-shield:hover{
        color: greenyellow;
        cursor: pointer;
    }
   
    article{
        box-shadow:none
    }
    article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        cursor: pointer;
    }

    h4.description{
        display: none;
    }
    .logini:hover{
        color: #0022AA;
        cursor: pointer;
    }

    main article.product{
        display:none;
    }
    main article .product:hover{
        display: block;
        cursor: pointer;
    }

}
