*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

header{
    background-color: #EAC926;
}
div.top-header{
    width: 94%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    margin-bottom: 1%;
    }
    header div.logo{
    margin-top: 1%;
    width: 36.1%;
    padding: 0px;
    }
    .imglogo{
        width: 100%;
        }
    div.form{
        font-size: 20.5px;
        display: flex;
        margin-bottom: 5%;
        margin-left: 1.1%;
        margin-top: 5.1%;
        width: 20.8%;
        }   
        #search.input{
        background-color: #FFF;
        border: 1px solid #000;
        outline: none;
        color: #666;
        padding: 0px;
        width: 100%;
        }
        div.submit{
        background-color: #FFF;
        border: 1px solid #000;
        color: #666;
        width: 9%;
        margin-left: 2%;
        }
        .fa.fa-search{
        width: 4%;
        text-align: center;
        }

    div.top-header p{
        width: 34%;
        text-align: center;
        margin-top: 84px;
        font-size: 18.5px;
        margin-left: 3.5%;
        }

.navegador{
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 96.5%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    }   
    ul.izquierda{
    margin-left: 2%;
    width: 28.7%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%
    }
        li{
            margin-right: 4.75%;
            list-style-type: none;
        }
            a{
            font-size: 16.5px;
            text-decoration: none;
            color: #000;
            }
    ul.derecha{
    width: 30%;
    display: flex;
    justify-content: space-between;
    }
    div.burger-menu{
        text-align: center;
    }
    .imgbanner {
        width: 100%;
    }
    
    div.burger-menu i{
        background-color: #03264C;
        border-radius: 5px;
        color: #FFF;
        font-size: 20px;
        height: 40px;
        margin: 10px 0px 20px 0px;
        padding: 10px;
        width: 40px;
    }
/*-------------Aqui iria el MEDIA-----------------*/
form {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.nombre {
    margin-top: 15%;
    width: 37%;
}

.contrase単a {
    margin-top: 5%;
    width: 37%;
}

.aceptar {
    margin-top: 5%;
    width: 37%;
    margin-bottom: 15%;
    background-color: #1259c3;
    color: white;
}

/*-------------Aqui terminaria el MEDIA-----------------*/
footer {
    background-color: #FFF;
    color:rgb(255, 255, 255);
    margin-top: 0px;
    margin-left: 1px;
    padding: 20px;
    width: 88,5%;
    text-align: center;
}

footer p{
    margin-left: 35px;
    margin-right: 35px;
    color:#666
}

footer i{
    font-size:2em;
    margin-bottom: 10px;
    margin-top: 40px;
    color: #1259c3;
}

footer h5{
    font-size: 16.5px;
    color:#666;
}

footer h6{
    margin-left: 0px;
    text-align: left;
    margin-top: 40px;
    color:#666;
    font-weight: normal;
}
@media (min-width:0px){
    h4{
        display: none;
    }
    .navegador{
        display: none;
    }
    div.top-header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 7%;
    }
    div.burger-menu {
        display: flex;
        justify-content: space-evenly;
    }
    header div.logo {
        margin-top: 7%;
        width: 50%;
        margin-bottom: 5%;
        padding: 0px;
    }
    .imgbanner {
        width: 100%;
    }
    .imglogo {
        width: 97%;
    }
    div.top-header p {
        width: 93%;
        text-align: center;
        margin-top: 0px;
        font-size: 13.5px;
        margin-left: 0%;
    }
    div.form {
        display: flex;
        margin-bottom: 5%;
        margin-left: 0%;
        margin-top: 5.1%;
        width: 50%;
        white-space: nowrap;
        justify-content: center;
    }
    #search.input{
        font-size: 12.65px;
        background-color: #FFF;
        outline: none;
        color: #666;
        padding: 8px;
        width: 78%;
        height: 40px;
        display: flex;
        border: aliceblue;
        align-items: center;
        border-radius: 4px;
    }
    div.submit {
        background-color: #FFF;
        color: #666;
        width: 20%;
        margin-left: -3%;
        border: none;
        display: flex;
        align-items: center;
        border-radius: 4px;
    }
    .fa-search:before {
        display: flex;
        content: "\f002";
        margin-left: 12px;
        justify-content: space-around;
        font-size: 13px;
        align-items: center;
    }
    .fa.fa-search {
        width: 100%;
    }
    form {
        display: flex;
        width: 90%;
        margin: auto;
        flex-direction: column;
        align-items: center;
    }
    
    .nombre {
        margin-top: 15%;
        width: 37%;
    }
    
    .contrase単a {
        margin-top: 5%;
        width: 37%;
    }
    
    .aceptar {
        margin-top: 5%;
        width: 37%;
        margin-bottom: 15%;
        background-color: #1259c3;
        color: white;
    }

    }
    
    
    @media (min-width: 361px){
        h4{
            display: flex;
        }
    
        div.burger-menu {
            display: none;
        }
        
        
        div.top-header{
            width: 93%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 5%;
        }
    
        header div.logo {
            margin-top: 3%;
            width: 34%;
            margin-bottom: 0%;
            padding: 0px;
        }
    
        .imglogo {
            margin-left: 3px;
            width: 96%;
        }
    
        div.form {
            display: flex;
            margin-bottom: -2%;
            margin-left: 1%;
            margin-top: 1.8%;
            width: 31%;
            white-space: nowrap;
            justify-content: flex-start;
        }
    
        #search.input{
            font-size: 12.65px;
            background-color: #FFF;
            outline: none;
            color: #666;
            padding: 1px;
            width: 79%;
            height: 19px;
            display: flex;
            border: aliceblue;
            align-items: center;
            border-radius: 4px;
        }
        div.submit {
            background-color: #FFF;
            color: #666;
            width: 7%;
            margin-left: 3%;
            border: none;
            display: flex;
            align-items: center;
            border-radius: 4px;
        }
        .fa-search:before {
            display: flex;
            content: "\f002";
            margin-left: 0px;
            justify-content: space-around;
            font-size: 13px;
            align-items: center;
        }
        .fa.fa-search {
            width: 100%;
        }
    
        div.top-header p {
            width: 34%;
            text-align: left;
            margin-top: 38.5px;
            font-size: 11.8px;
            margin-left: 0%;
        }
    
        .navegador{
            margin-left: 1.5%;
            margin-right: 1.5%;
            width: 96.5%;
            display: flex;
            text-align: center;
            justify-content: space-between;
            flex-direction: row;
            }   
            ul.izquierda{
            margin-left: 2.3%;
            width: 34.8%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5%;
            }
                li {
                margin-right: 0%;
                list-style-type: none;
                }
                    a {
                    font-size: 12px;
                    text-decoration: none;
                    color: #000;
                    }
            ul.derecha{
            width: 36.5%;
            margin-right: 1.7%;
            display: flex;
            justify-content: space-between;
            }
    
            main section article .description{
            display: block;
        }
    
        main section article{
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
    
        main section div.products{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
        }
        
        main section div.products article{
            width: 45%;
        }
    
        .price,
        .discount{
            width: 50%;
        }
        form {
            display: flex;
            width: 90%;
            margin: auto;
            flex-direction: column;
            align-items: center;
        }

        .nombre {
            text-align: center;
            margin-top: 15%;
            width: 70%;
            border-style: hidden;
            font-size: 16px;
        }

        .contrase単a {
            margin-top: 5%;
            width: 70%;
            text-align: center;
            border-style: hidden;
            font-size: 16px;
        }

        .aceptar {
            margin-top: 5%;
            width: 70%;
            margin-bottom: 15%;
            background-color: #1259c3;
            color: white;
            border-style: hidden;
            font-size: 16px;
        }

    }
    
    @media (min-width: 769px){
        div.top-header {
            width: 94.8%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            padding: 0%;
            margin-bottom: 1%;
            justify-content: flex-start;
            flex-direction: row;
        }
    
        header div.logo {
            margin-top: 1%;
            width: 16.5%;
            margin-right: 0px;
        }
            .imglogo {
                width: 91%;
                margin-left: 10px;
            }
            div.form {
                display: flex;
                margin-bottom: 2%;
                margin-left: 1%;
                margin-top: 2.1%;
                width: 55%;
                justify-content: flex-start;
            }
            #search.input {
                font-size: 20.5px;
                height: 39px;
                background-color: #FFF;
                border: 1px solid #000;
                outline: none;
                color: #666;
                padding: 0px;
                width: 93%;
                border: hidden;
            }
                div.submit {
                    border: hidden;
                    background-color: #FFF;
                    border: 1px solid #000;
                    color: #666;
                    width: 7%;
                    margin-left: -2%;
                    border: hidden;
                }
                .fa.fa-search {
                    width: 7%;
                    margin-left: 4px;
                }
                .fa-search:before {
                    display: flex;
                    content: "\f002";
                    margin-left: 23px;
                    font-size: 17px;
                    align-items: flex-end;
                    justify-content: flex-start;
                }
    
                div.top-header p {
                    width: 22%;
                    text-align: left;
                    margin-top: 14.5px;
                    font-size: 13.4px;
                    margin-left: 2%;
                }
    
        .navegador{
            margin-left: 1.5%;
            margin-right: 1.5%;
            width: 96.5%;
            display: flex;
            text-align: center;
            justify-content: space-between;
            flex-direction: row;
            }   
            ul.izquierda{
            margin-left: 2%;
            width: 27.5%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1%;
            }
                li{
                    margin-right: 0%;
                    list-style-type: none;
                }
                    a{
                    font-size: 16.5px;
                    text-decoration: none;
                    color: #000;
                    }
            ul.derecha{
            width: 28.2%;
            display: flex;
            justify-content: space-between;
            }
            
        main section div.products article{
            width: 22%;
        }
        div.burger-menu{
            display: none;
        }

        form {
            display: flex;
            height: auto;
            width: 100%;
            margin: auto;
            flex-direction: column;
            align-items: center;
        }

        .nombre {
            height: 50px;
            text-align: left;
            margin-top: 4%;
            width: 71.5%;
            font-size: 19.5px;
            border: hidden;
            border-radius: 7px;
        }

        .contrase単a {
            margin-top: 5%;
            width: 71.5%;
            text-align: left;
            border: hidden;
            font-size: 19.5px;
            height: 50px;
            border-radius: 7px;
        }

        .aceptar {
            margin-top: 7%;
            width: 71.5%;
            height: 50px;
            margin-bottom: 3%;
            background-color: #1259c3;
            color: white;
            font-size: 19px;
            border-radius: 7px;
            border: hidden;
        }
        
    h4.description{
        display: none;
    }

    
    main article:hover i{
        transform: rotate(-90deg);
        transition-duration: 1s;
    }

    .footc{
    display:flex;
    }

    .fa-credit-card:hover{
        color: greenyellow;
        cursor: pointer;
    }

    .fa-gift:hover{
        color: greenyellow;
        cursor: pointer;
    }

    .fa-user-shield:hover{
        color: greenyellow;
        cursor: pointer;
    }
   
    article{
        box-shadow:none
    }
    article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        cursor: pointer;
    }

    h4.description{
        display: none;
    }
    .logini:hover{
        color: #0022AA;
        cursor: pointer;
    }
}
